# Data
In this project, we will work with Material Analytics.csv file. The file contains four columns - 
Name - this is the name of various projects. Project names are repeated for entry of all the details regarding the project.
Device Description - The device used in the project.
Type Description - Type of device used.
Manufacturer - Manufacturer of the device.

# Aim:
Based on user search inputs provided for Device Description, Type Description and Manufacturer we need to provide list of all the projects that fulfill all the criteria.

In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("Material Analyticsp.csv",encoding='latin-1')

In [19]:
df.head(1)

,Name,Device Description,Type Description,Manufacturer
0,Project1,Auxiliary contact unit for distribution board,S2C-H6-11R,ABB

In [20]:
df.tail(1)

,Name,Device Description,Type Description,Manufacturer
2269,Project42,End cover,D-URTK-BEN,Phoenix Contact GmbH & Co. KG

In [21]:
imp_features = ['Device Description','Type Description' , 'Manufacturer']

# inputdata 

 Returns a dictionary having keys as important features and values as list of all the inputs we want to check in the feature

In [22]:
from input import inputdata
y = inputdata(imp_features)

Enter Device Description separated by " , " End cover , Auxiliary contact unit for distribution board
Enter Type Description separated by " , " S2C-H6-11R
Enter Manufacturer separated by " , "

In [23]:
y

{'Device Description': ['End cover',
  'Auxiliary contact unit for distribution board'],
 'Type Description': ['S2C-H6-11R'],
 'Manufacturer': ['']}

# item_check
It checks whether the data entered by the user is present in the data frame columns or not. If present it will return success else an error message will pop up

In [24]:
from ItemCheck import item_check

In [25]:
for i in y:
    if(len(y[i][0])) != 0:
        result = item_check(df[str(i)] , y[i])
        if(result == 0):
            print(f"Wrong Inputs Given in {i}")
            break
    print("Success")

Success
Success
Success

# find_projects_by_input 
Find project names that have all the given material values. Executed if only result == 1

In [30]:
if result == 1:
    from Fetch import find_projects_by_input
    combined = df['Name'].tolist()
    for i in y :
        if(len(y[i][0])) != 0:
            combined = set(find_projects_by_input(df, str(i) ,y[i]))& set(combined)
    combined

In [31]:
combined

{'Project1',
 'Project12',
 'Project26',
 'Project27',
 'Project33',
 'Project34',
 'Project36',
 'Project5',
 'Project7'}